
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    border:1px solid #fff;

}
/* shared style */
body{
    max-width: 1600px;
    background: #1A0B2E;
}
header,nav,#banner{
    max-width: 1600px;

}
nav{
    text-align: center;
    margin: 1rem 200px;
}

nav .btn-g, .btn-1{
    /* width: 135px;
    height: 44px; */
    background-image: linear-gradient(to right top, #F7E93F, #FB09B4,#9100F8);
    /* background:red; */
    padding: 12px 24px;
    border-radius: 15px;
    /* background-image: linear-gradient(to right red green yellow); */
}

.text-g{
  /* font-size: 40px; */
  background: -webkit-linear-gradient(#F7E93F, #FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#banner{
    /* position: relative; */
    border: 1px solid red;
    width: 1600px;
    height: 760px;
    background-image:url(/assets/hero-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* z-index: -1; */
}
.banner-info{
    width: 550px;
    height: 558px;
    border: 1px solid red;
    text-align: center;
    align-items: center;
    position: relative;

}
#banner .img-2{
    /* text-align: center;
    justify-content: center; */
    position: absolute;
    margin: -169px 100px  20px;

}
#banner .img-1{
    /* text-align: center;
    justify-content: center; */
    position: absolute;
    margin: -169px 100px  20px;

}
/* h1,h2,h3,h4,h5,h6,p{
    color: #ffffff;

    
} */
