
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    border:1px solid #fff;

}
/* shared style */
.all-h2{
     font-size: 40px;
    font-weight: bold;
    margin: 120px auto auto 40px;
}
.all-h3{
    font-size: 24px;
    font-weight: bold;
    /* margin:  24px 24px 24px 0; */

    color: #ffffff;
}
p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
}
body{
    max-width: 1600px;
    background: #1A0B2E;
}
/* header,nav,#banner,#podcast{
    max-width: 1600px;

} */
nav{
    text-align: center;
    margin: 1rem 200px;
}

nav .btn-g, .btn-1{
    /* width: 135px;
    height: 44px; */
    background-image: linear-gradient(to right top, #F7E93F, #FB09B4,#9100F8);
    /* background:red; */
    padding: 12px 24px;
    border-radius: 30px;
    /* background-image: linear-gradient(to right red green yellow); */
}

.text-g{
  /* font-size: 40px; */
  background: -webkit-linear-gradient(#F7E93F, #FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#banner{
    position: relative;
    border-top: 2px solid #230E3D;
    /* width: 1600px; */
    height: 760px;
    background-image:url(/assets/hero-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* z-index: -1; */
}
.banner-containet .img-circle{
    position: absolute;
    /* top: 101px;
    left: 600px; */
    top: 7%;
    left: 38%;

}
.banner-containet .img-microphn{
    position: absolute;
    /* top: 170px;
    left: 720px; */
    top: 16%;
    left: 46%;

}
.banner-containet .btn-new{
    position: absolute;
    /* top: 118px;
    left: 890px; */
    top: 10%;
    left: 58%;
    padding: 8px 16px;
    color: #1A0B2E;
    background: #00FF88;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 800;

}
#banner .banner-info{
    /* width: 550px;
    height: 558px; */
   
    text-align: center;
    align-items: center;
    margin-top: 500px
    /* position: absolute;
    top: 70%;
    left: 30%; */


}

#banner .banner-info h1,p{
    margin: 20px auto;
}
.btn-con-1{
    border: 1px solid #351165;
    padding: 12px 25px;
    border-radius: 30px;
    
}
.btn-con-2{
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 30px;
    
}
.btn-con-2 img{
    margin-right: 10px;
    height: 20px;
}
#podcast{
    border: 1px solid red;
    max-width: 1600px;
    margin: 0 200px;
    background: #1A0B2E;
}

#podcast .podcast-info{
    /* margin-top: 50px; */
}
.podcast-ratings {
    width: 1200px;
    margin: 0 auto;

}
.podcast-info{
    margin: 20px auto;
}
.podcast-info .text-dote{
    margin-top: 30px;
}
.break-line{
    border-top: 1px solid white;
    width: 900px;
    margin: 50px auto;
}
h3{margin-top: 10px;
    color: #00FF88;
    padding: 20px;
}
h6{
    text-transform:uppercase ;
    margin-bottom: 50px;
}
#techwave-features{
    max-width: 1600px;
    height: 1120px;
    margin: 0 200px;
    background: #230E3D;

}
#techwave-features .heading h2{
    text-align: center;
    padding-top: 100px;
    /* margin: 120px 200px 100px 200px; */

}
.heading h2{
    font-size: 40px;
    font-weight: bold;
}
.feature-container{
    margin: 100px;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-areas: 
        "audio mobile mobile"
        "audio global global"
        "interviwe interviwe resorce"

}
.feature-container .card{
    /* border: 1px solid red; */
    background: #351165;
    border-radius: 30px;
    padding: 40px;
    /* background: greenyellow; */
}
.audio{
    grid-area: audio;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.interviwe{
    grid-area: interviwe;
}
.resorce{
    grid-area: resorce;
}

/* Episodes-container */
#Episodes{
max-width: 1600px;
    height: 1270px;
    margin: 0 200px;
    background: #1A0B2E;
    
}


#Episodes .Episodes-heading{
    text-align: center;
    margin: 100px auto;
}

.Episodes-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.Episodes-card{
    text-align: left;
    /* width: 380px; */
    /* height: 440px; */
    background-color: #250D44;
    border-radius: 30px;
}
iframe{
    width: 390px;
    border-radius: 30px 30px 0 0;
}
.Episodes-card p{
    margin-left: 20px;

}
/* .Episodes-card img{
    height: 214px;
} */
.clock-time{
    display:flex;
    margin: 10px auto 10px 20px;

}
.clock-time img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* meet host */
/* .Meet-Host{
    max-width: 1600px;
    margin: 0 200px;
} */
.meet-host-info{
    border-radius: 50px;
}
.host-heading{
     text-align: center;
    margin: 40px auto;

}


.meet-host-info img{
    width: 200px;
    height: 200px;
    margin: 20px;
}
.meet-host-info .info .alex{
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;

}
.social-link img{
    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 3px;
    border-radius: 50%;
    border:1px solid #533C72;
}
/* footer */
footer{
    margin-top: 100px;
    max-width: 1600px;
    height: 412px;
    background-image: url(/assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 200px; */
    position: relative;
}
.footer-container{
    
    /* justify-content: center;
    margin-top: 100px; */
    position: absolute;
    top: 140px;
    left: 570px;
}

footer .social-container{
    margin: 30px auto;
    justify-content: center;
    gap: 50px;
}
footer .i-link{
    display: flex;
    gap: 10px;
}

/* mobile screen */

@media screen and (max-width:576px) {

    .podcast-ratings{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1, 200px);
        justify-content: space-around;
        gap: 1px;
    }
/* 
    header{
        display: flex;
        flex-direction: column;

  
  
    } */
    #podcast .podcast-info{
        flex-direction: column;
        text-align: center;
        margin: 0 20px;
    }
     .card-1{
        grid-area: card1;
    }
    .card-2{
        grid-area: card2;
    }
    .card-3{
        grid-area: card3;
    }
    .card-4{
        grid-area: card4;
    } 
    .podcast-ratings{
        display: grid;
    grid-template-areas: 
    "card1 card2"
    "card3 card4";
      


    }
    .podcast-ratings-card{
        width: 100%;
    }



    .card{
        width: 570px;
        justify-content: center;
        

    }
        

    .feature-container{

        text-align: center; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(5,1fr); */
        /* justify-content: center; */

        j

    }
    #Episodes
    #Episodes
    #Episodes


























}